footer {
    border-radius: 56px 56px 0px 0px;
    background: var(--primary-black);
    padding: 40px 60px;
}

.footer {
    position: relative;
}

.footer>.logo {
    position: absolute;
    top: 0;
    left: 0;
}

.footer__list {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.footer__block {
    margin: 20px auto 0 auto;
}

.footer__block2 {
    margin: 0 auto
}



.footer__block>ul,
.footer__block2>ul {
    display: flex;
    list-style-type: none;
    font-family: "Onest";
    font-weight: 400;
}

.footer__block2>ul {
    margin-left: 40px;
}

.footer__menu {
    font-size: 20px;
    gap: 40px;
}

.footer__menu>li>a {
    color: var(--white);
    text-decoration: none;
}

.footer__conf {
    color: var(--primary-gray189);
    font-size: 16px;
    gap: 56px;
    margin-top: 47px;
    justify-content: center;
}

@media (max-width: 920px) {
    .footer__list {
        display: flex;
        flex-direction: column;
        margin: 0 0 auto auto;
    }

    .footer__block {
        margin-top: 0px;
    }

    .footer__block2 {
        margin: 0;
    }

    .footer__block2>ul {
        margin-left: 0px;
    }

    .footer__menu {
        gap: 20px;
    }

    .footer__conf {
        gap: 20px;
        margin-top: 20px;
        justify-content: end;
    }
}

@media (max-width: 768px) {
    footer {
        border-radius: 40px 40px 0px 0px;
        padding: 32px 10px;
    }

    .footer__block {
        margin-top: 0px;
    }

    .footer__menu {
        font-size: 16px;
    }

    .footer__conf {
        font-size: 12px;
    }
}


@media (max-width: 600px) {
    .footer__menu {
        gap: 10px;
    }
}

@media (max-width: 550px) {
    .footer__menu {
        flex-direction: column;
    }

    .footer__list {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
    }

    .footer>.logo {
        position: absolute;
        top: -18px;
        left: 17px;
    }

    .footer__block {
        margin: 0 20px 0 auto;
    }

    .footer__block2>ul {
        margin-left: 0px;
        justify-content: space-between;
    }
}