.header__container {
    font-family: "Onest";
    color: rgba(34, 34, 34, 1);
    padding-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header__container>.logo {
    position: absolute;
    top: 30px;
    left: 15px;
}

.header-burger {
    display: none;
}


.header__container>ul {
    display: flex;
    list-style-type: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
    justify-self: center;
    gap: 40px;
}

.logo {
    color: rgba(34, 34, 34, 1);
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}

@media (max-width: 900px) {
    .header__container>ul {
        font-size: 16px;
        gap: 20px;
        margin-left: 50px;
    }

    .logo {
        font-size: 38px;
    }
}

@media (max-width: 600px) {
    .header__container>ul {
        margin-left: 100px;
    }
}

@media (max-width: 550px) {
    .header__container>ul {
        display: none;
    }

    .header-burger {
        display: flex;
    }

    .header__container {
        justify-content: right;
        padding-top: 25px;
    }

    .header__container>.logo {
        top: 5px;
        left: 0px;
    }

    .logo {
        font-size: 26px;
    }
}