.header__container {
    font-family: "Onest", sans-serif;
    color: var(--primary-black);
    padding-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header__container>.logo {
    position: absolute;
    top: 30px;
    left: 15px;
    font-weight: bold;
}

.header-burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 25px;
    z-index: 1000;
}

.header-burger>div {
    width: 25px;
    height: 3px;
    background-color: var(--primary-black);
    transition: all 0.3s;
}

.header__container>.nav-menu {
    display: flex;
    list-style-type: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: var(--primary-black);
    text-decoration: none;

}

.header__container>.nav-menu li {
    cursor: pointer;
}



.mobile-menu {
    display: none;
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 999;
    background-color: var(--white);
}

.mobile-menu.active {
    display: block;
}

.mobile-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.mobile-menu li {
    padding: 5px 0;
    font-size: 14px;
}

.mobile-menu li:last-child {
    border-bottom: none;
}

.header-burger.active>div:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.header-burger.active>div:nth-child(2) {
    opacity: 0;
}

.header-burger.active>div:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}


@media (max-width: 900px) {
    .header__container>.nav-menu {
        font-size: 16px;
        gap: 20px;
        margin-left: 50px;
    }

    .logo {
        font-size: 38px;
    }
}

@media (max-width: 600px) {
    .header__container>.nav-menu {
        margin-left: 100px;
    }
}

@media (max-width: 550px) {
    .header__container>.nav-menu {
        display: none;
    }

    .header-burger {
        display: flex;
    }

    .header__container {
        justify-content: flex-end;
        padding-top: 25px;
        padding-right: 15px;
    }

    .header__container>.logo {
        top: 5px;
        left: 0px;
    }
}