.cards-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    width: 100%;
    margin-top: 67px;
}

.service__card {
    position: relative;
    height: 260px;
    box-sizing: border-box;
    padding: 24px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.color-gray-light {
    background: var(--primary-gray-light);
}

.color-primary-black {
    background: var(--primary-black);
}

.service__card:nth-child(1),
.service__card:nth-child(2),
.service__card:nth-child(3),
.service__card:nth-child(4) {
    grid-column: span 3;
}

.service__card:nth-child(5),
.service__card:nth-child(6),
.service__card:nth-child(7) {
    grid-column: span 4;
}

.service__content {
    font-family: "Onest";
    color: var(--primary-black);
    line-height: 120%;
    text-align: left;
    flex: 1;
    display: flex;
    flex-direction: column;
    z-index: 1;

}

.service__content>p {
    font-size: 24px;
    font-weight: 600;
    margin-top: 90px;
}

.service__content>span {
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    margin-top: auto;
}

.content-delivery>span {
    color: var(--white) !important;
    font-size: 32px !important;
    font-weight: 600 !important;
    line-height: 120% !important
}


.line-delivery {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}


@media (max-width: 1280px) {
    .cards-grid {
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;
    }

    .service__card {
        grid-column: span 3
    }

    .service__card:nth-child(1),
    .service__card:nth-child(2),
    .service__card:nth-child(3),
    .service__card:nth-child(4),
    .service__card:nth-child(5),
    .service__card:nth-child(6) {
        grid-column: span 3;
    }

    .service__card:nth-child(7) {
        grid-column: 1 / -1;
    }

    .service__card:last-child:nth-child(odd) {
        grid-column: 1 / -1;
    }
}

@media (max-width: 550px) {
    .service__card {
        height: 145px;
        grid-column: 1 / -1 !important;
        padding: 16px;
    }

    .cards-grid {
        grid-template-columns: 1fr;
        margin-top: 24px;
        gap: 6px;
    }


    .service__card>svg:first-child {
        width: 24px;
        height: 24px;
    }


    .service__content>p {
        font-size: 20px;
        margin-top: 25px;
    }

    .service__content>span {
        font-size: 16px;
    }

    .content-delivery>span {
        font-size: 20px !important;
    }

    .line-delivery {
        height: 180px;
    }
}