@import "./header.css";
@import "./hero.css";
@import "./specification.css";
@import "./service.css";
@import "./warranty.css";
@import "./efficiency.css";
@import "./upgrade.css";
@import "./feedback.css";
@import "./footer.css";
@import "./swiper-bundle.min.css";
@import "./normalize.css";
@import "../vendor/fonts.css";


:root {
  --primary-black: rgba(34, 34, 34, 1);
  --primary-gray: rgba(51, 51, 51, 1);
  --primary-blue: rgba(48, 139, 253, 1);
  --hover-blue: rgba(35, 118, 221, 1);
  --disabled: rgba(213, 213, 213, 1);
  --primary-gray189: rgba(189, 189, 189, 1);
  --white: rgba(255, 255, 255, 1);
  --white-01: rgba(255, 255, 255, 0.1);
  --primary-gray-light: rgba(249, 249, 249, 1);
  --primary-green: rgba(58, 194, 112, 1)
}


body {
  padding: 0;
  background: var(--white);
  box-sizing: border-box;
  position: relative;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}


.wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 1312px;
  padding: 0 15px;
}

.sectionMargin {
  margin-top: 112px;
}

button {
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.button {
  font-family: "Onest";
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: var(--white);
  border-radius: 40px;
  padding: 30px;

}

.btn-white {
  background-color: var(--white);
}

.btn-blue {
  background-color: var(--primary-blue);
}

.btn-blue:hover {
  background-color: var(--hover-blue);
}

.btn-blue:disabled {
  background-color: var(--disabled);
}


.btn-orange {
  background: linear-gradient(90deg, #FFE259 0%, #FFA751 100%);
}

.btn-orange:hover {
  background: linear-gradient(90deg, #FCD000 0%, #FF8E1F 100%);

}

.btn-orange:disabled {
  background-color: var(--disabled);
}

.label {
  border-radius: 40px;
  padding: 16px 32px;
  font-family: "Onest";
  font-weight: 400;
  font-size: 32px;
  display: flex;
  gap: 10px;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
}

.label-color-black {
  background: var(--primary-gray);
  color: var(--white);
}

.label-color-white {
  background: var(--primary-gray-light);
  color: var(--primary-black);
}

.label-dot {
  width: 10px;
  height: 10px;
  background-color: var(--primary-blue);
  border-radius: 50%;
}

.select-btn {
  border-radius: 41px;
  background-color: var(--primary-gray);
  font-family: "Onest";
  font-weight: 500;
  font-size: 24px;
  color: var(--white);
  display: flex;
  align-items: center;
  padding: 17px 24px;
}

.section-wrap {
  width: 100%;
  border-radius: 40px;
  padding: 40px;
  font-family: "Onest";
  color: var(--white);
  text-align: left;
  position: relative;
  background-color: var(--primary-black)
}

.logo {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  font-family: "Onest";
}


@media (max-width: 768px) {
  .label {
    padding: 12px 32px;
    font-size: 20px;
  }

  .label>span>span {
    display: none;
  }

  .section-wrap {
    padding: 32px 24px;
  }
}

@media (max-width: 550px) {
  .select-btn {
    border-radius: 41px;
    font-size: 14px;
    padding: 12px 24px;
  }

  .section-wrap {
    border-radius: 22px;
  }

  .sectionMargin {
    margin-top: 64px;
  }

  .logo {
    font-size: 26px;
  }
}

@media (max-width: 425px) {
  .button {
    font-size: 14px;
    padding: 22px 32px;
  }

  .label {
    padding: 16px 10px;
    font-size: 14px;
  }
}