@import "./header.css";
@import "./hero.css";
@import "./normalize.css";
@import "../vendor/fonts.css";

body {
  padding: 0;
  background: white;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}


:root {
  --primary-black: rgba(34, 34, 34, 1);

}




.wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 1345px;
  padding: 0 15px;
}