.upgrade {
    margin-top: 112px;
}

.cards {
    position: relative;
    width: 100%;
    border-radius: 40px;
    overflow: hidden;
}

.gradient-bg {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.layer {
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    filter: blur(158.9px);
    opacity: 0.95;
}

.layer1 {
    background: rgba(92, 40, 223, 1);
    top: 16%;
    left: 64%;
}

.layer2 {
    background: rgba(19, 64, 223, 1);
    top: 17%;
    left: 33%;
}

.layer3 {
    background: rgba(0, 201, 210, 1);
    top: -15%;
    right: 17%;
}

.card-content {
    position: relative;
    z-index: 1;
    height: 100%;
}

.upgrade__headline {
    display: flex;
    justify-content: space-between;
    font-family: "Onest";
    font-weight: 600;
    color: var(--white);
}


.upgrade__headline>h3 {
    width: 56%;
    font-size: 54px;
    line-height: 110%;
    padding-left: 22px;
}

.upgrade__headline>h3>span {
    background: var(--white-01);
    border-radius: 40px;
    padding: 3px 15px;
}

.upgrade__headline>div {
    background: var(--white-01);
    border-radius: 32px;
    padding: 17px 42px;
    font-size: 96px;
    box-sizing: border-box;
    margin-top: 16px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upgrade-container {
    display: grid;
    gap: 20px;
    width: 100%;
    margin: 30px auto 40px auto;
    grid-template-columns: repeat(4, 1fr);
}


.upgrade__card {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    border-radius: 32px;
    background: rgba(255, 255, 255, 0.1);
    height: 190px;
    box-sizing: border-box;
}

.upgrade__card:nth-child(3),
.upgrade__card:nth-child(4) {
    grid-column: auto;
}

.upgrade__card>h4 {
    font-weight: 400;
    font-size: 20px;
}

.upgrade__card>div {
    display: flex;
    align-items: center;
    margin-top: auto;
}

.upgrade__card>div>span {
    font-size: 40px;
    font-weight: 500;
}


.card-descr {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

.card-descr>p {
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
}

.card-descr>button {
    color: var(--primary-black);
    padding: 30px 60px;
}

@media (max-width: 1280px) {
    .upgrade__card>h4 {
        font-size: 18px;
    }

    .upgrade__card>div>span {
        font-size: 30px;
    }
}


@media (max-width: 1300px) {
    .upgrade__headline>h3 {
        font-size: 46px;
    }

    .upgrade__headline>div {
        padding: 17px 42px;
        font-size: 83px;
    }
}

@media (max-width: 1150px) {
    .upgrade__headline>h3 {
        font-size: 40px;
    }

    .upgrade__headline>div {
        padding: 10px 17px;
        font-size: 83px;
    }
}



@media (max-width: 1024px) {
    .upgrade__headline {
        flex-direction: column;
        gap: 10px;
    }

    .upgrade__headline>h3>br {
        display: none;
    }

    .upgrade__headline>h3 {
        width: 100%;
    }

    .upgrade-container {
        grid-template-columns: repeat(2, 1fr);

    }

    .upgrade__card:nth-child(3),
    .upgrade__card:nth-child(4) {
        grid-column: 1 / -1;
        height: 170px;
    }

    .upgrade__card>h4 {
        font-size: 20px;
    }

    .upgrade__card>div>span {
        font-size: 40px;
    }
}

@media (max-width: 900px) {
    .card-descr>button {
        padding: 30px 40px;
    }

    .card-descr>p {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .card-descr>button {
        padding: 25px 40px;
        font-size: 14px;
    }

    .card-descr>button {
        padding: 25px 30px;
    }

    .card-descr>p {
        font-size: 14px;
    }
}


@media (max-width: 550px) {
    .upgrade {
        margin-top: 60px;
    }

    .upgrade__headline>h3 {
        font-size: 24px;
        line-height: 118%;
    }

    .upgrade__headline>div {
        font-size: 64px;
        margin-top: 5px;
        border-radius: 17px;
    }

    .upgrade-container {
        margin: 20px auto 18px auto;
    }

    .upgrade__card {
        padding: 20px;
        border-radius: 24px;
        height: 170px;
    }

    .upgrade__card:nth-child(3),
    .upgrade__card:nth-child(4) {
        height: 150px;
    }

    .upgrade__card>h4 {
        font-size: 18px;
    }

    .upgrade__card>div>svg {
        width: 26px;
        height: 26px;
    }

    .upgrade__card>div>span {
        font-size: 24px;
    }

    .upgrade-container {
        gap: 16px;
    }

    .card-descr {
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
    }

    .card-descr>button {
        padding: 20px 0;
        width: 100%;
    }

    .card-descr>p>br {
        display: none;
    }

    .upgrade>.wrapper>.section-wrap {
        padding: 24px 16px;
    }

    .card-descr>p {
        font-size: 14px;
    }
}


@media (max-width: 425px) {
    .upgrade__card {
        padding: 12px;
        height: 129px;
    }

    .upgrade__card:nth-child(3),
    .upgrade__card:nth-child(4) {
        height: 110px;
    }

    .upgrade__card>h4 {
        font-size: 14px;
    }

    .upgrade__card>div>span {
        font-size: 20px;
    }
}

@media (max-width: 345px) {
    .upgrade__card>div>svg {
        width: 11px;
        height: 11px;
    }

    .upgrade__headline>div {
        font-size: 45px;
    }

    .upgrade__headline>h3>span {
        padding: 3px 6px;
    }
}