.warranty {
    margin-top: 112px;

}

.warranty__block {
    width: 100%;
    border-radius: 40px;
    padding: 40px;
    background: var(--primary-black);
    font-family: "Onest";
    color: var(--white);
    text-align: left;
    position: relative;
}

.warranty__block>h3 {
    font-size: 48px;
    font-weight: 600;
    line-height: 120%;
}

.warranty__block>p {
    font-size: 32px;
    font-weight: 400;
    line-height: 140%;
}

.warranty__block>button {
    padding: 28px 32px;
    border-radius: 40px;
    color: rgba(34, 34, 34, 1);
    font-size: 20px;
    font-weight: 400;
    margin-top: 40px;
    position: relative;
    z-index: 2;
}

.warranty__block>img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

@media (max-width: 1024px) {
    .warranty__block>h3 {
        font-size: 40px;
    }

    .warranty__block>p {
        font-size: 28px;
    }
}

@media (max-width: 768px) {
    .warranty__block>h3 {
        font-size: 24px;
    }

    .warranty__block>p {
        font-size: 16px;
    }

    .warranty__block {
        padding: 32px 24px;
    }

    .warranty__block>button {
        padding: 21px 52px;
        border-radius: 40px;
        font-size: 14px;
        margin-top: 100px;
    }
}

@media (max-width: 550px) {
    .warranty {
        margin-top: 65px;
    }

    .warranty__block {
        border-radius: 22px;
    }

    .warranty__block>p {
        margin-top: 15px;
    }
}

@media (max-width: 370px) {
    .warranty__block>button {
        padding: 21px 2px;
        width: 100%;
    }
}