.warranty {
    margin-top: 112px;

}

.warranty__block {
    position: relative;
    overflow: hidden;
}

.warranty__block>h3,
.warranty__block>p,
.warranty__block>.specification-link {
    position: relative;
    z-index: 2;
}


.warranty__block>h3 {
    font-size: 48px;
    font-weight: 600;
    line-height: 120%;
}

.warranty__block>p {
    font-size: 32px;
    font-weight: 400;
    line-height: 140%;
    margin-top: 18px;
    padding-right: 90px;
}

.installment__img {
    position: absolute;
    bottom: -84px;
    right: 48px;
    z-index: 1;
    width: 411px;
    transform: rotate(20deg);
}


.warranty__img {
    position: absolute;
    bottom: -92px;
    right: 1px;
    z-index: 1;
    width: 380px;
    transform: rotate(18deg);
}



.warranty-link {
    margin-top: 40px;
    border-radius: 40px;
    position: relative;
    z-index: 2;
    display: inline-flex;
    font-family: "Onest";
    padding: 22px 32px;
}

.warranty-link>a {
    font-size: 20px;
    font-weight: 400;
}


.installment-link {
    margin-top: 40px;
}

@media (max-width: 1024px) {
    .warranty__block>h3 {
        font-size: 40px;
    }

    .warranty__block>p {
        font-size: 28px;
    }

    .warranty__block>img {
        bottom: -75px;
        right: -1px;
        width: 315px;
    }
}

@media (max-width: 768px) {
    .warranty__block>h3 {
        font-size: 24px;
    }

    .warranty__block>p {
        font-size: 16px;
    }

    .installment-link {
        margin-top: 40px;
    }


    .warranty__block>img {
        width: 240px;
        bottom: -50px;
    }

    .warranty-link {
        margin-top: 82px;
        border-radius: 40px;
        position: relative;
        z-index: 2;
        display: inline-flex;
        font-family: "Onest";
        padding: 22px 32px;
    }

    .warranty-link>a {
        font-size: 20px;
        font-weight: 400;
    }
}

@media (max-width: 550px) {
    .warranty {
        margin-top: 65px;
    }

    .warranty__block>p {
        margin-top: 15px;
    }

    .warranty__img {
        bottom: -50px;
        right: 11px;
    }

    .warranty-link {
        margin-top: 20px !important;
    }

    .installment-link {
        margin-top: 40px;
    }


    .installment__img {
        bottom: -84px;
        right: 48px;
        width: 411px;
    }
}



@media (max-width: 370px) {
    .warranty__block>button {
        padding: 21px 2px;
        width: 100%;
    }
}