.warranty {
    margin-top: 112px;

}

.warranty__block>h3 {
    font-size: 48px;
    font-weight: 600;
    line-height: 120%;
}

.warranty__block>p {
    font-size: 32px;
    font-weight: 400;
    line-height: 140%;
}

.warranty__block>img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.warranty__block>.specification-link {
    margin-top: 40px;
}

@media (max-width: 1024px) {
    .warranty__block>h3 {
        font-size: 40px;
    }

    .warranty__block>p {
        font-size: 28px;
    }
}

@media (max-width: 768px) {
    .warranty__block>h3 {
        font-size: 24px;
    }

    .warranty__block>p {
        font-size: 16px;
    }


    .warranty__block>.specification-link {
        margin-top: 82px;
    }
}

@media (max-width: 550px) {
    .warranty {
        margin-top: 65px;
    }

    .warranty__block>p {
        margin-top: 15px;
    }
}

@media (max-width: 370px) {
    .warranty__block>button {
        padding: 21px 2px;
        width: 100%;
    }
}